input[type="radio"] {
  accent-color: #009688; 
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.bmi-widget {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.main-wrapper__inner {
  border-radius: 5px;
  text-align: start;
}


.main-view-conatiner {
  padding-block: 1em;
}

h3{
  padding-block: unset;
}

h4 {
  margin-left: 15px;
  margin-top: unset;
  margin-bottom: 5px;
}

.user-input {
  width: 93%;
  padding: 12px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-left: 1em; 
}

.user-input:focus-visible {
  outline: none;
}

.gender-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.gender-btn-wrapper input[type="radio"] {
  margin-left: 15px;
  margin-bottom: 5px;
}

.control-btn-wrapper {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-weight: bold;
  font-size: 16px;
  background-color: #009688;
  color: white;
}

.gender-inner {
  display: flex;
}

/* Responsive Styles (Optional) */
@media (max-width: 768px) {
  .bmi-widget {
    padding: 25px;
  }
}